body {
    margin: 0;
    background-color: rgb(253, 243, 224);
}


.header {
    background-color: rgb(208, 224, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0;
}

h1 {
    color: rgb(102, 204, 207);
    font-size: 48px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: rgb(102, 204, 207);
    margin: 0 12px;
}

.nav a:hover {
    text-decoration: underline;
}

.section {
    text-align: center;
    font-family:'Bellota', cursive;
}

.centered-text {
    font-size: 25px;
    width: 735px;
    margin: auto;
    padding: 25px 0; 
    text-align: center; 
}

.home-img {
    height: 650px;
    width: 560px;
    object-fit: cover;
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 342px;
    gap: 250px;
    padding-left: 70px;
    padding-right: 100px;
    background-color:  rgb(208, 224, 248);
}

.hero-text {
    font-family:'Bellota', cursive;
    font-size: 22px;
    width: 590px;
    order: 2;
}

.hero-img {
    width: 310px;
    height: 315px;
    border: 5px solid rgb(102, 204, 207);
    border-radius: 18px;
    object-fit:cover;
    order: 1;
    margin-bottom: 10px;
}

.footer {
    background-color: rgb(208, 224, 248);
    padding: 8px;
    text-align: center;
}
