body {
    margin: 0;
    background-color: rgb(253, 243, 224);
}


.header {
    background-color: rgb(208, 224, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0;
}

h1 {
    color: rgb(106, 206, 209);
    font-size: 48px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: rgb(113, 204, 207);
    margin: 0 12px;
}

.nav a:hover {
    text-decoration: underline;
}

.section {
    text-align: center;
    font-family:'Bellota', cursive;
}

.centered-text {
    font-size: 25px;
    width: 720px;
    margin: auto;
    padding: 25px 0; 
    text-align: center; 
}

.home-img {
    height: 590px;
    width: 500px;
    object-fit: cover;
}

.footer {
    background-color:  rgb(208, 224, 248);
    padding: 8px;
    text-align: center;
}
